h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
  display: block;
  margin: 0 auto;
  padding: 0.5em;
  background-color: coral;
  opacity: 0.65;
  font-size: 2em;
  border: solid medium black;
  border-radius: 5px;
}

div {
  display: flex;
  align-items: center;
}

button {
  margin: 0.5em auto;
  background-color: cornflowerblue;
  font-size: 3em;
  padding: 0.5em;
  outline: none;
  border: solid medium black;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s;
}

button:active {
  transform: scale(0.9);
}